*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
  font-size: 1.3rem;
}

:root {
  --font-family: "JetBrains Mono";
  --color-green: hsl(120, 100%, 50%);
  --color-blue: hsl(238, 100%, 50%);
}

#card-container {
  max-width: 100%;
  height: 100%;
  border: 1px solid white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 2rem;
  border: 5px solid orange;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 4px solid white;
  width: 100%;
  height: 500px;
  padding: 0.5rem;
  align-items: center;
  text-align: center;

  .card-image {
    border: 1px solid red;
    width: 100%;
    height: 50%;
  }

  .card-content {
    border: 1px solid orange;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
  }

  h2 {
    text-transform: uppercase;
    font-size: 1.3rem;
  }

  p {
    text-align: left;
  }
}
