*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
}

:root {
  --font-family: "JetBrains Mono";
}
