*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
  font-size: 1.3rem;
}

:root {
  --font-family: "JetBrains Mono";
  --color-green: hsl(120, 100%, 50%);
  --color-blue: hsl(238, 100%, 50%);
}

body {
  border: 10px solid var(--color-green);
}
